* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.1px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

#body_Container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 1px;
}
/*----header ---*/
#header_container {
  position: relative; /* Important for positioning background image and ::before */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 150px;
  align-items: center;
  overflow: hidden;
  margin: 1px;
  box-shadow: -5px 5px 5px 1px grey;
  border-radius: 5px;
}

#header_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* Optional blur overlay */
  backdrop-filter: blur(6px); /* Adds blur effect */
  z-index: 1;
  pointer-events: none;
}

#header_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  object-position: center;
  margin: 1px;
}

#logo_container {
  width: 150px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0px;
  z-index: 2;
  margin-left: 5px;
  margin-right: 15px;
}

#slogan_container {
  display: flex;
  flex-direction: column;
  font-family: "Tagesschrift", system-ui, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  z-index: 2;
  margin-top: 15px;
  line-height: 30px;
  font-style: italic;
}
#slogan_container h3 {
  margin: 5px;
}
#slogan_container h3:nth-child(2) {
  padding-left: 40px;
}
#header_contents {
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  align-items: center;
}
#slogan2_container {
  display: flex;
  flex-direction: column;
  font-family: "Tagesschrift", system-ui, sans-serif;
  font-size: 20px;
  margin: 0 auto;
  z-index: 2;
  margin-top: 15px;
  line-height: 30px;
  font-style: italic;
  text-transform: capitalize;
}
#slogan2_container h3 {
  margin: 5px;
}
#slogan3_container {
  display: flex;
  flex-direction: column;
  font-family: "Tagesschrift", system-ui, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  z-index: 2;
  margin-top: 15px;
  line-height: 30px;
  font-style: italic;
  text-transform: capitalize;
}
#slogan3_container h3 {
  margin: 5px;
}
#head_user_controls {
  margin-right: 20px;
  height: 140px;
  margin-top: 1px;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  align-items: flex-end;
  justify-content: center;
}
#languageSelector {
  width: 60px;
  margin: 5px;
  height: 23px;
  font-family: "Tagesschrift", system-ui, sans-serif;
  border: none;
  border-radius: 5px;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.6);
}
#head_user_controls button:nth-of-type(1),
#head_user_controls button:nth-of-type(2) {
  margin: 5px;
  height: 23px;
  width: 60px;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-family: "Tagesschrift", system-ui, sans-serif;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 10px;
}
#head_user_controls button:nth-of-type(1):hover,
#head_user_controls button:nth-of-type(2):hover {
  box-shadow: -5px -5px 5px #706c61;
  transform: scale(1.15);
  background-color: #A59132;
  color: aqua;
}

/*---- main body----*/
#main_container {
  margin: 1px;
  margin-top: 30px;
  width: 100%;
  height: calc(100% - 150px); /* Adjust for fixed header */
  overflow: hidden; /* Prevent scrolling */
  display: flex;
  flex-direction: column;
  border: 1px solid red;

}
#testing_language{
  border: 1px solid red;
  display: block
}
